<launch>
    <!-- flag if rviz should be started -->
    <arg name="use_rviz" default="true"/>

    <!-- arguments to play directly a rosbag with this launch file -->
    <arg name="bag_file" default="" doc="path to bag file; if empty no bag file is replayed"/>

    <!-- launch continuous tracking node -->
    <node name="continuous_tracking" pkg="continuous_tracking" type="continuous_tracking_node"
          ns="perception/object_tracking" output="screen">
        <remap from="lidar_detections" to="/perception/detections/lidar_roof/cluster/continuous_clusters"/>
        <remap from="continuous_ground_point_segmentation"
               to="/perception/detections/lidar_roof/cluster/continuous_ground_point_segmentation"/>
        <remap from="camera_info" to="/sensor/camera/multiplexed/camera_info"/>
        <remap from="instances_2d" to="/perception/object_detection/multiplexed/instances_2d"/>
    </node>

    <!-- launch continuous clustering with 0.5m threshold and some other dependencies -->
    <include file="$(find continuous_clustering)/launch/demo_touareg.launch" pass_all_args="true">
        <arg name="use_rviz" value="false"/>
        <arg name="launch_vehicle" value="true"/>
        <arg name="wait_for_tf" value="false"/>
        <arg name="max_distance" value="0.5"/>
        <arg name="bag_file" value="$(arg bag_file)"/>
    </include>

    <!-- launch node which decompresses sensor_msgs/CompressedImage from bag (just for visualization) -->
    <node name="decompress" pkg="image_transport" type="republish" args="compressed raw"
          ns="sensor/camera/surround/front">
        <remap from="in" to="image_rect_color"/>
        <remap from="out" to="image_rect_color"/>
    </node>

    <!-- launch RViz if desired -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="--display-config $(find continuous_tracking)/rviz/continuous_tracking.rviz" output="log"
          if="$(arg use_rviz)"/>
</launch>
